 
 

         <h4>Modifier</h1>
          <form ng-controller="EnseignantUpdate">
                  N°Enseignant <input type="text" ng-model="noEnseignant" ng-disabled="noEnseignant"/></br>
                  Nom  <input type="text" ng-model="nom" id="nom"/></br>
                  Prénom <input type="text" ng-model="prenom" id="prenom"/></br>
                  Adresse <input type="text" ng-model="adresse" id="adresse"/></br></br>
                  Code Postale <input type="text" ng-model="codePostal" id="codePostal"/></br></br>
                  Email Perso <input type="text" ng-model="emailPerso" id="emailPerso"/></br>
                  Email Ubo <input type="text" ng-model="emailUbo" id="emailUbo"/></br>
                  Mobile <input type="text" ng-model="mobile" id="mobile"/></br>
                  Pays  <input type="text" ng-model="pays" id="pays"/></br>
                  Sexe <select ng-model="sexe"  size="1"></br>
                  			<option value="H"> Homme </option>
                  			<option value="F"> Femme </option>
                  			
                  			</select></br>
                  Telephone <input type="text" ng-model="telephone" id="telephone"/></br></br>
                  Type<input type="text" ng-model="type" id="type"/></br></br>
                  Ville <input type="text" ng-model="ville" id="ville"/></br>
                      <button type="submit" class="btn btn-success custom-width" ng-click="saveEdit()" >Modifier</button> 
                      <a  href = "#/enseignant"> <button type="button" class="btn btn-danger custom-width">Annuler</button>  </a>                       
                  </form>