<div><h1>DashBoard</h1></br></br>
</div>
<a href="#formation" ng-controller="Index">

<div class="col-md-3 col-sm-12 col-xs-12">

                        <div class="panel panel-primary text-center no-boder bg-color-red">
                            <div class="panel-left pull-left red">
                                <i class="fa fa fa-comments fa-5x"></i>
                               
                            </div>
                            <div class="panel-right">
							 <h3>{{formations}} </h3>
                               <strong> Formations </strong>

                            </div>
                        </div>
                        </a>
                    </div>
                    <a href="#enseignant">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="panel panel-primary text-center no-boder bg-color-brown">
                            <div class="panel-left pull-left brown">
                                <i class="fa fa-users fa-5x"></i>
                                
                            </div>
                            <div class="panel-right">
							<h3>{{enseignants}} </h3>
                             <strong>Enseignants</strong>

                            </div>
                        </div>
                        </a>
                    </div>